/* Las etiquetas de HTML van directamente el nombre sin punto ni hashtag */
/* a las CLASES (class) se le anteponen un punto "." */
/* los ID van con "#" (hashtag) adelante */

@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap");

/* SCROLL */
::-webkit-scrollbar{
  width: 15px;
  }
  
  ::-webkit-scrollbar-track{
    background-color: #333;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #45f3ff;
    border-radius: 5px;
  }

/*===== BODY =====*/

body {
  margin: 0;
  padding: 0;
  background-color: #404040; /*color de fondo */
  color: #d1d1d1; /*color de fuente */
  font-family: "Signika Negative", sans-serif;
}

/*===== Navbar =====*/

.navbar {
  padding: 1 rem;
  background: rgba(255, 255, 255, 0.8); /*transparencia de navbar */
  /* position: fixed; */
  width: 100%;
  font-size: 15px;
}

.navbar-brand {
  width: 10%;
}

.nav-item {
  padding: auto;
  margin: auto;
}

.nav-link {
  color: #484343;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.logoap {
  width: 100%;
}

.btnlogin {
  transition: all 0.5s ease;
}

.btnlogin:hover {
  transform: scale(1.5);
  color: #2d24d3;
}

/*===== ESTILOS GENERALES =====*/

section {
  display: flex;
  flex-direction: column;
}

/*===== BANNER =====*/

.banner img {
  width: 100%; /*ancho del banner */
  height: 100%;
  max-width: 100%;
}

/*===== SECCIÓN SOBRE MÍ =====*/
.sobreMi {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
/* FOTO DE PERFIL */
.fotoPerfil {
  width: 100%;
  margin: 1em;
  align-items: center;
  box-shadow: 19px 18px 27px -3px #000000c2;
  border-radius: 15px;
}

p {
  margin: 1.5rem;
}

/* ===== SECCION SOBRE MI EXPERIENCIA LABORAL ===== */

/* .laboral { */
  .row{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns:auto;
  flex-wrap: wrap;
 
}

.card-img-top {
  width: 5rem;
}

.laboral .card {
  background: #2a2a2a;
  color: #fff;
}

.list-group-item {
  color: #fff;
}

.card-link {
  text-decoration: none;
}

.card-link:hover {
  color: #45f3ff;
}

 @media (max-width: 1200px) {
  .col-3 {
    width: 50%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
  }
  .col-3 .card {
    width: 400px;
    margin: 0.5em;
  }
} 

@media (max-width: 768px) {
  .col-3 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
  }
  .col-3 .card {
    width: 400px;
    margin: 0.5em;
  }
} 





/* ===== SECCION SOBRE MIS HABILIDADES - SKILLS===== */

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.container .card {
  position: relative;
  width: 220px;
  height: 250px;
  background: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.container .card .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.container .card .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.container .card .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  stroke: #191919;
  transform: translate(5px, 5px);
}

.container .card .percent svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dot {
  position: absolute;
  inset: 5px;
  z-index: 10px;
  transform: rotate(calc(3.6deg * var(--num)));
  animation: animateDot 2s linear forwards;
  z-index: 1;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.dot::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}

.number {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

.number h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 2.5em;
}

.number h2 span {
  font-weight: 300;
  color: #fff;
  font-size: 0.5em;
}

.number p {
  font-weight: 300;
  font-size: 0.75em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffff;
}

/* ===== SECCION SOBRE MI EDUCACIÓN ===== */
#educacion {
  background: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}
  

.estudios{
  color: #ffffff;
  border: #cdcaca solid;
}

.estudios:hover{
  color: #45f3ff;
  border: #45f3ff solid;
}


.containerEducacion {
  position: relative;
  /* width: 1000px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.containerEducacion .card {
  position: relative;
  height: 250px;
  display: flex;
  width: 45%;
  margin: 30px 0;
}

.containerEducacion .card .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.cardEducacion{ 
  height: 100%;
  width: 100%;
}

.containerEducacion .card:hover .imgBx {
  width: 150px;
  height: 150px;
  left: -150px;
  top: calc(50%-75px);
  transition: 0.5s ease-in-out;
  

}


.containerEducacion .cardEducacion {
  max-width: 102%;
  transition: 0.5s ease-in-out;
  
}


.containerEducacion .card .content {
  position: absolute;
  right: 0;
  width: calc(100%-75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerEducacion .card .content h3 {
  margin-bottom: 5px;
  font-size: 24px;
}



@media (max-width: 992px) {
  .containerEducacion {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .containerEducacion .card {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .containerEducacion .card {
    max-width: 300px;
    flex-direction: column;
    height: auto;
  }
  .containerEducacion .card .imgBx {
    position: relative;
  }
  .containerEducacion .card .imgBx,
  .containerEducacion .card:hover .imgBx {
    width: 100%;
    height: 200px;
    left: 0;
  }
  .containerEducacion .card .imgBx img,
  .containerEducacion .card:hover .imgBx img {
    max-width: 100%;
  }
  .containerEducacion .card .content {
    position: relative;
    width: 100%;
  }
}


/* ===== SECCION SOBRE MIS PROYECTOS ===== */

#proyectos {
  background: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.container1 .card {
  position: relative;
  height: 250px;
  display: flex;
  width: 45%;
  margin: 30px 0;
}

.container1 .card .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.container1 .card:hover .imgBx {
  width: 150px;
  height: 150px;
  left: -150px;
  top: calc(50%-75px);
  transition: 0.5s ease-in-out;
  background: #45f3ff;
}

.container1 .card .imgBx:before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 6em;
  color: #ffffff0d;
  font-weight: 700;
}

.container1 .card .imgBx img {
  max-width: 100px;
  transition: 0.5s ease-in-out;
}

.container1 .card:hover .imgBx img {
  max-width: 75px;
}

.container1 .card .content {
  position: absolute;
  right: 0;
  width: calc(100%-75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 .card .content h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.container1 .card .content a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #8ed5da;
  text-decoration: none;
  color: #504e4e;
}

@media (max-width: 992px) {
  .container1 {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .container1 .card {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .container1 .card {
    max-width: 300px;
    flex-direction: column;
    height: auto;
  }
  .container1 .card .imgBx {
    position: relative;
  }
  .container1 .card .imgBx,
  .container1 .card:hover .imgBx {
    width: 100%;
    height: 200px;
    left: 0;
  }
  .container1 .card .imgBx img,
  .container1 .card:hover .imgBx img {
    max-width: 100%;
  }
  .container1 .card .content {
    position: relative;
    width: 100%;
  }
}


/* ===== SECCION SOBRE MIS HOBBIES ===== */

#hobbies{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#404040;

}

.container2{
  position: relative;
  width: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.container2 .card1{
  position: relative;
  max-width: 30%;
  height: 215px;
  border-radius: 4px;
  justify-content: space-between;
  background: #2c2b2b;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}

.container2 .card1:hover{
  height: 420px;

}

.imgBox{
  position: relative;
  width: 260px;
  height: 260px;
  top:-60px;
  left: 60px;
  
}

.container2 .card1 .imgBox img{
  max-width: 200px;
  border-radius: 4px;
 
}

.container2 .card1 .content1{
  position: relative;
  margin-top: -40px;
  padding: 10px 15px;
  text-align: center;
  color: #fdfdfd;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container2 .card1:hover .content1{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

/* ===== SECCION DE CONTACTO ===== */

/* ===== FORMULARIO DE CONTACTO ===== */

.seccionContacto {
  background: #2c2b2b;
  color: #45f3ff;
}

.container {
  width: 80%;
  padding: 20px;
}

.container h2 {
  width: 100%;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #45f3ff;
}

.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

.container .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  transition: 0.5s;
  pointer-events: none;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

.container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.container .row100 .inputBox .textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}

.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #45f3ff;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
}

input[type="submit"]:active {
  opacity: 0.8;
}




/* TRANSICIONES REDES SOCIALES */

.contacto {
  padding-top: 1.5em;
  justify-content: center;
  align-items: center;
  background-color: #404040;
  color: #ffffff;
  
}

.fa-linkedin:hover {
  transform: scale(2.5);
  color: transparent;
  transition: 0.4s ease-in-out;
  background-image: url("../img/linkedin.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.5px;
}

.fa-github:hover {
  transform: scale(2.5);
  color: transparent;
  transition: 0.4s ease-in-out;
  background-image: url("../img/github.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.5px;
}



.fa-square-instagram:hover {
  transform: scale(2.5);
  color: transparent;
  transition: 0.4s ease-in-out;
  background-image: url("../img/instagram.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.5px;
}

.fa-facebook:hover {
  transform: scale(2.5);
  color: transparent;
  transition: 0.4s ease-in-out;
  background-image: url("../img/facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.5px;
}

.fa-twitter:hover {
  transform: scale(2.5);
  color: transparent;
  transition: 0.4s ease-in-out;
  background-image: url("../img/twitter.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.5px;
}

.fa-whatsapp:hover {
  transform: scale(2.5);
  color: transparent;
  transition: 0.4s ease-in-out;
  background-image: url("../img/whatsApp.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.5px;
}

/* Quitamos margen y fondo a la barra de las redes sociales */
.list-group {
  --bs-list-group-bg: transparent;
  --bs-list-group-border-color: none;
}

li {
  list-style-type: none; /*quita los puntitos de la lista */
  margin-left: -3%;
}


/* ===== SECCION FOOTER ===== */

.footer {
  display: flex;
  background: #404040;

}


.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item a{
  color: #fff;
}

.item a:hover{
  color: #45f3ff;
}


.curriculum{
  color: #ffffff;
  border: #cdcaca solid;
  
}

.curriculum:hover{
  color: #45f3ff;
  border: #45f3ff solid;
}

/* ===== Modificando modal login ===== */

.modal-dialog{
  color: #333;
  
}


/* MODALES */

.modal-content {
  background: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
}

.btn-primary {
  transform: scale(none);
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }

  .fotoPerfil {
    align-items: center;
    align-content: center;
    align-self: auto;
  }
}
